.login-background {
    background: url(../../assets/background-login.jpg) center center no-repeat;
    height    : 100vh;

    .login-container {
        height          : 450px;
        width           : 400px;
        margin          : auto;
        border-radius   : 10px;
        background-color: white;
        position        : absolute;
        top             : 0;
        bottom          : 0;
        right           : 0;
        left            : 0;


        .login-content {
            padding: 10px;

            .text-login {
                text-align : center;
                font-weight: 600;
                font-size  : 24px;
                padding-top: 10px 0
            }

            .login-input {
                margin: 7px 0;

                .custom-input-password {
                    position: relative;

                    i {
                        position: absolute;
                        right   : 5px;
                        top     : 10px;
                        cursor  : pointer;
                    }
                }
            }

            .btn-login {
                width        : 100%;
                margin       : 10px 0;
                height       : 30px;
                border-radius: 15px;
                outline      : none;
                border       : none;
                color        : white;
                font-size    : 16px;
                background   : url(../../assets/background-login.jpg);
            }

            .forgot-password {
                font-size: 12px;
            }

            .social-login {
                display        : flex;
                justify-content: center;
                margin-top     : 10px;

                .google {
                    font-size      : 30px;
                    background     : rgb(231, 28, 28);
                    border-radius  : 50%;
                    height         : 50px;
                    width          : 50px;
                    display        : flex;
                    align-items    : center;
                    justify-content: center;
                    color          : white;
                    margin-right   : 10px;
                }

                .facebook {
                    font-size      : 30px;
                    background     : #0400ff;
                    border-radius  : 50%;
                    height         : 50px;
                    width          : 50px;
                    display        : flex;
                    align-items    : center;
                    justify-content: center;
                    color          : white;
                }

            }
        }
    }

}